<div class="units-container">

    <div class="header">
        <div class="units-header">
            <h2>Unit Management</h2>
            <div class="units-header-actions">
                <button mat-stroked-button color="primary" routerLink="/dashboard">
                    Back to Dashboard
                </button>

                <button mat-raised-button color="primary" (click)="openDialog()">
                    + Add Unit
                </button>
            </div>
        </div>
        <div class="view-toggle">
            <button mat-stroked-button [color]="viewMode === 'table' ? 'primary' : ''" (click)="toggleView('table')">
                Table View
            </button>

            <button mat-stroked-button [color]="viewMode === 'grid' ? 'primary' : ''" (click)="toggleView('grid')">
                Grid View
            </button>
        </div>
        <!-- TABLE VIEW -->
        <div *ngIf="viewMode === 'table'" class="suit-grid">
            <ag-grid-angular style="width: 100%; height: 500px;" [theme]="theme" [rowData]="filteredUnits"
                [columnDefs]="columnDefs" [pagination]="true">
                <!-- [paginationPageSize]="paginationPageSize"
  [paginationPageSizeSelector]="paginationPageSizeSelector"> -->
            </ag-grid-angular>
        </div>

        <!-- CARD GRID VIEW -->
        <div *ngIf="viewMode === 'grid'" class="unit-card-grid">
            <div class="unit-card" *ngFor="let unit of filteredUnits">
                <div class="unit-header">
                    {{ unit.unitNumber }}
                    <span class="status-badge" [ngClass]="unit.status.toLowerCase()">
                        {{ unit.status }}
                    </span>
                </div>

                <div class="unit-body">
                    <div>Type: {{ unit.unitType }}</div>
                    <div>Size: {{ unit.sizeSqFt }} sq ft</div>
                    <div>Floor: {{ unit.floor }}</div>
                    <div>Price: ${{ unit.pricePerMonth }}</div>
                    <div *ngIf="unit.tenantName">Tenant: {{ unit.tenantName }}</div>
                </div>

                <div class="unit-actions">
                    <!-- <button mat-button color="primary" (click)="editUnit(unit)">Edit</button> -->
                    <button mat-button color="warn" (click)="deleteUnit(unit.id)">Delete</button>
                </div>
            </div>
        </div>

    </div>